<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pay让支付触手可及</title>
    <style>
        body {
            text-align: center;
            margin-left: auto;
            margin-right: auto;
        }
        #welcome {
            text-align: center;
            position: absolute;
        }
    </style>
</head>
<body>
<div id="welcome">
    <h3>欢迎使用 <span th:text="${project}"></span> -By <span th:text=" ${author}"></span></h3>
    <span th:text="${url}"></span>
    <div style="text-align: center; padding: 10px">
        <a style="text-decoration: none;" href="#" th:href="@{${url}}" target="_bank">
            <strong>Pay让支付触手可及,欢迎Start支持项目发展:)</strong>
        </a>
    </div>
    <div style="text-align: center; padding: 4px">
        如果对你有帮助,请关注
    </div>
    <img width="180px" height="180px"
         src="http://ccclx.xlccc.com/pic/xlccc.jpg">
</div>
</body>
</html>